.login-button {
    margin-top: 10px !important;
    font-family: "Roboto", sans-serif !important;
    background-color: #00a850 !important;
    border: DarkGreen 1px solid !important;
}
.child100 > DIV {
   width: 100%;
}

.accounts-dialog {
  font-size: 1rem !important;
  color: DarkGreen;
    background: linear-gradient(#e8f3e8 1px, #E0FDE0 1px);
    padding-top: 5px !important;
    border: DarkGreen 1px solid !important;
    margin-top: 0px !important;
    margin-left: -205px !important;
}
.login-form-sign-in>#login-dropdown-list, .login-form-create-account>#login-dropdown-list {
    margin-left: -200px;
}
.login-close-text {
    float: right !important;
}
.accounts-dialog LABEL {
    font-family: "Roboto", sans-serif !important;
}
.login-link-text {
  text-decoration: none !important;
  font-weight: bold;
}
#login-buttons {
  margin-right: 1em;
}
